<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>

<h2>Редактирование пользователя</h2>

<!-- Форма для редактирования пользователя -->
<form th:action="@{/admin/update-user/{id}(id=${user.id})}" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>

    <label for="newUsername">Новое имя:</label>
    <input type="text" id="newUsername" name="username" th:value="${user.username}" required/>

    <label for="newEmail">Новая почта:</label>
    <input type="email" id="newEmail" name="email" th:value="${user.email}" required/>

    <label for="newPassword">Новый пароль:</label>
    <input type="password" id="newPassword" name="password"/>

    <label for="roles">Роли:</label>
    <select id="roles" name="roles" multiple>
        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}" th:name="roles"
                th:selected="${user.roles.![id].contains(role.id)}"></option>
    </select>

    <button type="submit">Сохранить изменения</button>
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Выход</button>
</form>

</body>
</html>
